.App {
  text-align: center;
}
.msg-panel{
  border : 1px solid #ccc;
  border-radius: .5em;
  min-height: 400px;
  width: 40%;
  margin: 10px auto;
  background-color:#ddd;
  padding: .4em; 
}

.send-button{
  border : none;
  background: transparent;

}
.send-button-icon{
  color: green;
  transform: rotate(45deg);
 cursor:pointer; 
 font-size: 1.7em;
}
#send{
  padding:6px;
  width:20%;
}